body, html {
  background-color: black;
  margin: auto 0;
  padding: auto 0;
}

.headerdiv {
  color: white;
  background-color: #34a5da;
  margin: auto 0;
  padding: 30px;
  margin-bottom: 200px;
}
.slidetopper {
  display: flex;
  justify-content: space-between;
}

.textdiv {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 50px;
  margin-bottom: 20px;
}

.class-container {
  align-items: center;
  width: 50%;
  margin: 0 auto;

}

.NavigationContainer {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
}